# This is a sample credentials file. You should make a custom one at
# $HOME/.fortune_track_credentials.yml, and that one will overwrite this one on deploy.
site:
  username: admin
  password: secret_password
capital_one:
  username: somedude
  password: thiswontwork
  fathers_father: Matt
  high_school: Shrewsbury
  born: Nashua
