body
  padding: 20px

input, label
  display: inline

ol
  margin-left: 0px

li
  list-style-type: none

th
  text-align: left
  font-weight: bold

.clear
  clear: both

#nav
  height: 60px
  li a
    float: left
    width: 120px
    height: 50px
    font-size: 16px
    display: block
    border: 1px black solid
    text-align: center
    padding-top: 8px

.transactions
  .date
    font-weight: bold
  .description
    margin-left: 10px
  table
    width: 100%
    th
      font-weight: bold
    td, th
      border: 1px black solid
    &.main
      td
        width: 50%
    &.line_items, &.line_items_header
      td, th
        width: 33%

#net_worth
  float: left
  font-weight: bold
  margin-left: 20px
  height: 30px
  font-size: 20px
  display: block
  text-align: center
  padding-top: 8px

#accounts
  .account_group
    &.header
      font-weight: bold
    clear: both
    div
      float: left

form
  margin-top: 20px
  margin-bottom: 20px

.account_row
  &.shade
    background-color: darken(white, 15%)
  > div
    width: 200px
  .name
    width: 400px
    .edit a
      font-size: 8px
  .debit
    width: 200px
  .credit
    width: 200px
  .hider
    display: inline
  .shower
    display: none
.account_group
  &.hide_children
    .hider
      display: none
    .shower
      display: inline
    .account_group
      display: none
