body
  padding: 20px

input, label
  display: inline

ol
  margin-left: 0px

li
  list-style-type: none

th
  text-align: left
  font-weight: bold

.clear
  clear: both

#nav
  height: 60px
  li a
    float: left
    width: 120px
    height: 50px
    font-size: 16px
    display: block
    border: 1px black solid
    text-align: center
    padding-top: 8px

.transactions
  .date
    font-weight: bold
  .description
    margin-left: 10px
  table
    width: 100%
    th
      font-weight: bold
    td, th
      border: 1px black solid
    &.main
      td
        width: 50%
    &.line_items, &.line_items_header
      td, th
        width: 33%

#net_worth
  float: left
  font-weight: bold
  margin-left: 20px
  height: 30px
  font-size: 20px
  display: block
  text-align: center
  padding-top: 8px

#accounts
  .account_group
    &.header
      font-weight: bold
    clear: both
    div
      float: left

form
  margin-top: 20px
  margin-bottom: 20px

.account_row
  &.shade
    background-color: darken(white, 15%)
  > div
    width: 200px
  .name
    width: 400px
    .edit a
      font-size: 8px
  .hider
    display: inline
  .shower
    display: none
.account_group
  &.hide_children
    .hider
      display: none
    .shower
      display: inline
    .account_group
      display: none

.transaction
  margin: 5px
  margin-top: 20px
  position: relative
  .date
    background-color: darken(white, 10%)
    border: 1px black solid
    border-bottom: none
    font-weight: bold
    line-height: 38px
    text-align: center
    width: 120px
  .line_items
    border: 1px black solid
    > div
      border-top: 1px black dashed
      &:hover
        background-color: lighten(yellow, 30%)
      &:first-child
        border-top: none
    .debit_line_item
      position: relative
      .account_name
        padding-left: 5px
        width: 500px
      .amount
        position: absolute
        right: 120px
        top: 0
      div
        line-height: 26px
    .credit_line_item
      position: relative
      .account_name
        padding-left: 105px
        width: 500px
      .amount
        position: absolute
        right: 20px
        top: 0
      div
        line-height: 26px
  .description
    font-style: italic
    position: absolute
    top: 0
    left: 130px
    line-height: 38px
  .edit
    position: absolute
    top: 0
    right: 20px
    line-height: 38px
    display: none
  &:hover
    .edit
      display: block

#recent_imports
  thead
    td
      font-weight: bold
  tbody
    tr
      td:first-child
        width: 330px
