%div{ id: line_item_div_id ||= '', style: style ||= '' }
  %input{ type: 'hidden', name: 'transaction[line_items][][id]', value: line_item.id }
  %label Debit in Cents
  %input{name: 'transaction[line_items][][debit_in_cents]', type: 'number', value: line_item.debit_in_cents}
  %label Credit in Cents
  %input{name: 'transaction[line_items][][credit_in_cents]', type: 'number', value: line_item.credit_in_cents}
  = select_tag 'transaction[line_items][][account_id]',
    options_from_collection_for_select(Account.all, 'id', 'full_name', line_item.account_id)

