%div{ id: line_item_div_id ||= '', style: style ||= '' }
  %input{ type: 'hidden', name: 'transaction[line_items][][id]', value: line_item.id }
  %label Debit
  %input{name: 'transaction[line_items][][debit]', type: 'number', value: line_item.debit}
  %label Credit
  %input{name: 'transaction[line_items][][credit]', type: 'number', value: line_item.credit}
  = select_tag 'transaction[line_items][][account_id]',
    options_from_collection_for_select(Account.all, 'id', 'full_name', line_item.account_id)

