.transactions
  %table.main
    %tr
      %th Description
      %th Line Items
    %tr
      %th
      %th
        %table.line_items_header
          %tr
            %th Account
            %th Debit
            %th Credit
    = render partial: 'transaction', collection: @transactions

= link_to 'New Transaction', new_transaction_path
