.transactions
  %table.main
    %tr
      %th Description
      %th Line Items
    %tr
      %th
      %th
        %table.line_items_header
          %tr
            %th Account
            %th Debit
            %th Credit
    = render 'transaction', transaction: @transaction
