.account_group
  .account_row
    .name
      .indent{style: "padding-left: #{indent(row.account)}"}
        =link_to row.account.name, account_path(row.account, start_date: @start_date, end_date: @end_date)
    .amount= row.credit
    .self_amount= row.self_credit

  - row.child_rows.each do |child|
    - if child.credit > 0
      = render 'income_report_row', row: child

