%form
  %label{for: 'start_date'} Start Date
  %input{name: 'start_date', value: @start_date || Time.now.beginning_of_month.to_date}

  %label{for: 'end_date'} End Date
  %input{name: 'end_date', value: @end_date || Time.now.to_date}

  %input{type: 'submit'}

#accounts
  .account_group.header
    .name Account
    Amount
    Percent Total

  - @report_rows.each do |row|
    .account_group
      .account_row
        .name
          .indent{style: "padding-left: #{indent(row.account)}"}
            = row.account.name
        = row.values[:amount]
        = row.values[:percent_total]

-content_for :ready_js do
  :plain
    shadeEveryOtherRow();
