#accounts
  .account_row.header
    .name Account
    Amount

  - @report_rows.each do |row|
    .account_row
      .name
        .indent{style: "padding-left: #{indent(row.account)}"}
          = row.account.name
      = row.amount
