%h1 Accounts

%table.accounts
  %tr
    %th Account
    %th Debit
    %th Credit

  - @accounts.each do |account|
    = render account

%p{style: 'margin-top: 30px'}=link_to 'New Account', new_account_path
