%h1 Accounts

#accounts
  .account_row.header
    .name Account
    .debit Debit
    .credit Credit

  - @accounts.order(:sort_order).each do |account|
    - if show_account?(account)
      = render account

.clear
%p{style: 'margin-top: 30px'}=link_to 'New Account', new_account_path

-content_for :ready_js do
  :plain
    $('.toggler').click(function(event) {
      $(event.target).closest('.account_row').toggleClass('hide_children');
      return false;
    });
