%h1 Accounts

#accounts
  .account_row.header
    .name Account
    .debit Debit
    .credit Credit

  - @accounts.each do |account|
    = render account

%p{style: 'margin-top: 30px'}=link_to 'New Account', new_account_path

-content_for :ready_js do
  :plain
    $('.expander').click(function(event) {
      console.log(event.target);
    });
