%h2= @account.full_name
%h3
  Balance:
  = @account.natural_balance.format
%p= link_to 'Edit Account', edit_account_path(@account)

.transactions
  %table.main
    %tr
      %th Description
      %th Line Items
    %tr
      %th
      %th
        %table.line_items_header
          %tr
            %th Account
            %th Debit
            %th Credit
    = render partial: 'transactions/transaction', collection: @transactions
